<div class="d-flex text-center align-items-center justify-content-center">
    <ul class="list-unstyled mb-0 text-center align-items-center">
        <li class="d-flex align-items-center mb-3">
            <i class="fa fa-phone fa-2x icon-w-32"></i>
            <p class="m-0 px-3">{{site.data.contact.phone}}</p>
        </li>

        <li class="d-flex align-items-center mb-3">
            <i class="fa fa-envelope fa-2x icon-w-32"></i>
            <p class="m-0 px-3">{{site.data.contact.email}}</p>
        </li>

        <li class="d-flex align-items-center mb-3">
            <i class="fa fa-facebook-f fa-2x icon-w-32"></i>
            <p class="m-0 px-3">{{site.data.contact.facebook}}</p>
        </li>

        <li class="d-flex align-items-center mb-3">
            <i class="fa fa-youtube fa-2x icon-w-32"></i>
            <p class="m-0 px-3">{{site.data.contact.youtube}}</p>
        </li>

        <li class="d-flex align-items-center mb-3">
            <i class="fa fa-instagram fa-2x icon-w-32"></i>
            <p class="m-0 px-3">{{site.data.contact.instagram}}</p>
        </li>
    </ul>
</div>
