<!-- Footer -->
<footer class="mt-auto bg-dark text-center text-white mt-5">
    <!-- Grid container -->
    <div class="container px-5 py-4">
        <!-- Div: Social media and contact info -->
        <div
            class="mb-4 px-5 mx-5 d-flex align-items-center justify-content-between"
        >
            <!-- Section: Social media -->
            <section>
                <!-- Facebook -->
                <a
                    class="btn btn-outline-light btn-floating m-1 rounded-0"
                    href="#!"
                    role="button"
                    ><i class="fa fa-facebook-f icon-w-16"></i
                ></a>

                <!-- Youtube -->
                <a
                    class="btn btn-outline-light btn-floating m-1 rounded-0"
                    href="#!"
                    role="button"
                    ><i class="fa fa-youtube icon-w-16"></i
                ></a>

                <!-- Instagram -->
                <a
                    class="btn btn-outline-light btn-floating m-1 rounded-0"
                    href="#!"
                    role="button"
                    ><i class="fa fa-instagram icon-w-16"></i
                ></a>
            </section>

            <!-- Section: Contact info -->
            <section class="d-flex">
                <!-- Email -->
                <span class="d-flex align-items-center me-4">
                    <a
                        class="btn btn-outline-light btn-floating m-1 rounded-0"
                        href="#!"
                        role="button"
                        ><i class="fa fa-envelope icon-w-16"></i
                    ></a>
                    <div class="ps-1">{{site.data.contact.email}}</div>
                </span>

                <!--Phone -->
                <span class="d-flex align-items-center">
                    <a
                        class="btn btn-outline-light btn-floating m-1 rounded-0"
                        href="#!"
                        role="button"
                        ><i class="fa fa-phone icon-w-16"></i
                    ></a>
                    <div class="ps-1">{{site.data.contact.phone}}</div>
                </span>
            </section>
        </div>
        <!-- Div: Social media and contact info -->

        <!-- Section: Text -->
        <section class="mb-4 px-5 mx-5">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti dicta,
                aliquam sequi voluptate quas.
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        {{site.data.copyright.text}}:
        <a class="text-white" href="{{site.data.copyright.url}}"
            >{{site.data.copyright.site}}</a
        >
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
