<!-- Footer -->
<footer class="mt-auto bg-dark text-center text-white mt-5">
    <!-- Grid container -->
    <div class="container px-5 py-4">
        <!-- Div: Social media and contact info -->
        <div
            class="mb-4 px-5 mx-5 d-flex flex-column flex-lg-row align-items-center justify-content-between"
        >
            <!-- Section: Social media -->
            <section class="mb-4 mb-lg-0">
                <!-- Facebook -->
                <a
                    class="btn btn-outline-light btn-floating m-1 rounded-0"
                    href="https://www.facebook.com/profile.php?id=100091895130745"
                    role="button"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><i class="fa fa-facebook-f icon-w-16"></i
                ></a>

                <!-- Youtube -->
                <a
                    class="btn btn-outline-light btn-floating m-1 rounded-0"
                    href="https://www.youtube.com/@SlagerBand"
                    role="button"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><i class="fa fa-youtube icon-w-16"></i
                ></a>
            </section>

            <!-- Section: Contact info -->
            <section class="d-flex">
                <!-- Email -->
                <span class="d-flex align-items-center me-4">
                    <span
                        class="btn btn-outline-light btn-floating m-1 rounded-0 cursor-default"
                        ><i class="fa fa-envelope icon-w-16"></i
                    ></span>
                    <div class="ps-1">
                        <span class="blockspam" aria-hidden="true"></span
                        >slagerbandzenekar@<!-- protectmail -->gmail.com
                    </div>
                </span>

                <!--Phone -->
                <span class="d-flex align-items-center">
                    <span
                        class="btn btn-outline-light btn-floating m-1 rounded-0 cursor-default"
                        ><i class="fa fa-phone icon-w-16"></i
                    ></span>
                    <div class="ps-1">{{site.data.contact.phone}}</div>
                </span>
            </section>
        </div>
        <!-- Div: Social media and contact info -->

        <!-- Section: Text -->
        <section class="mb-4 px-5 mx-5">
            <p>{{site.data.footer.text}}</p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <span
            >&copy; {{ site.time | date: '%Y' }}
            {{site.data.copyright.text}}:</span
        >
        <a class="text-white" href="" target="_blank" rel="noopener noreferrer"
            >{{site.data.copyright.site}}</a
        >
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
