<div class="col-12 col-carousel">
    <div class="owl-carousel carousel-main" id="{{include.id}}">
        {% for item in site.data.gallery.media %} {% if item.video %}
        <iframe
            style="width: 100%"
            id="{{item.id}}"
            src="{{item.url}}"
            title="{{item.title}}"
            frameborder="0"
            allowfullscreen
        ></iframe>
        {% else %}
        <div
            data-toggle="modal"
            data-target="#exampleModal"
            class="item cursor-pointer"
            id="{{item.id}}"
        >
            <img src="{{item.url}}" alt="{{item.alt}}" id="{{item.id}}" />
        </div>
        {% endif %} {% endfor %}
    </div>
</div>
