<div class="container h-75 d-flex justify-content-center align-items-start">
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col">
                {% include cards/text-card.html header=site.data.about.header
                title=site.data.about.title text=site.data.about.text %}
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="">
                        {% include cards/text-card.html
                        header=site.data.about.header
                        title=site.data.about.title text=site.data.about.text %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                {% include cards/gallery-card.html
                header=site.data.gallery.header %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-8">
                {% include cards/form-card.html header=site.data.form.header
                name=site.data.form.name email=site.data.form.email
                subject=site.data.form.subject message=site.data.form.message
                send=site.data.form.send %}
            </div>
            <div class="col">
                {% include cards/text-card.html header=site.data.about.header
                title=site.data.about.title text=site.data.about.text %}
            </div>
        </div>
    </div>
</div>
