<div
    class="modal fade modal-xl"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 bg-card">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-carousel">
                    <div class="modal-content" id="loader">Loading...</div>
                    <div
                        class="modal-content owl-carousel carousel-main"
                        id="gallery-modal"
                        style="display: none"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
