<div
    class="modal fade modal-xl"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0 bg-card position-relative">
            <button
                type="button"
                class="close position-absolute top-0 end-0 p-3"
                data-dismiss="modal"
                aria-label="Close"
            >
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </button>
            <div class="modal-body p-4">
                <div class="col-12 col-carousel">
                    <div class="" id="loader">Loading...</div>
                    <div
                        class="owl-carousel carousel-main"
                        id="gallery-modal"
                        style="display: none"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
