.col-carousel {
    margin: 0;
}

.owl-prev span,
.owl-next span {
    color: #fff;
}

.owl-prev span:hover,
.owl-next span:hover {
    color: #8199a3;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 0;
    height: 100%;
}

.owl-prev {
    left: 7px;
}

.owl-next {
    right: 7px;
}

button:focus,
button:active {
    outline: none;
}

.owl-stage {
    display: flex;
}

.item,
.owl-item {
    min-height: 100%;
    width: 100%;
    display: flex;
}

.owl-carousel .owl-item img {
    min-height: 100%;
    object-fit: cover;
}

.owl-carousel .owl-video-tn {
    background-size: cover !important;
}

.owl-video-frame {
    position: relative;
    /*     padding-bottom: 56.25%;
    padding-top: 25px; */
    height: 0;
}
.owl-video-frame a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-video-wrapper {
    position: inherit !important;
}

.modal {
    .item,
    .owl-item {
        width: 100%;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
