@import "vars.scss"
@import "gallery.scss"
@import "playlist.scss"
@import "bootstrap-5.3.0/bootstrap-5.3.0-alpha1/scss/bootstrap.scss"

/* Custom Styles */
.custom-font
   font-family: "Kavoon"

.bg-img
  background-image: url(/assets/images/background.svg)
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.bold
  font-weight: 700

.inner 
  flex-basis: 50%

.grid 
  display: flex
  flex-flow: row wrap
  justify-content: space-between


.grid::after 
  content: ""
  flex: auto

.icon-w-32
  width: 32px

.icon-w-16
  width: 16px

.h-200
  height: 200px

.h-400
  height: 400px

.rotate-5
     -webkit-transform: rotate(-5deg)
     -moz-transform: rotate(-5deg)
     -ms-transform: rotate(-5deg)
     -o-transform: rotate(-5deg)
    
.rotate-50
     -webkit-transform: rotate(-50deg)
     -moz-transform: rotate(-50deg)
     -ms-transform: rotate(-50deg)
     -o-transform: rotate(-50deg)

.tape-top-left
  width: 32px
  height: 16px
  margin-left: -20px
  margin-top: -15px

.tape-bottom-right
  width: 32px
  height: 16px
  margin-left: -20px
  margin-top: 25px

.title-top-left
  margin-top: -20px
  margin-left: -10px

.grow 
  transition: all .2s ease-in-out

.grow:hover 
  transform: scale(1.1)

.color-fade
  transition: color 0.5s ease

