@import "vars"
@import "gallery.scss"
@import "playlist.scss"
@import "bootstrap-5.3.0/bootstrap-5.3.0-alpha1/scss/bootstrap.scss"

/* Custom Styles */
.inner 
  flex-basis: 50%

.grid 
  display: flex
  flex-flow: row wrap
  justify-content: space-between


.grid::after 
  content: ""
  flex: auto

.icon-w-32
  width: 32px

.icon-w-16
  width: 16px

.h-200
  height: 200px

.h-400
  height: 400px

.rotate-5
     -webkit-transform: rotate(-5deg)
     -moz-transform: rotate(-5deg)
     -ms-transform: rotate(-5deg)
     -o-transform: rotate(-5deg)


