@import 'vars.scss';
@import 'gallery.scss';
@import 'modal.scss';
@import 'playlist.scss';
@import 'bootstrap-5.3.0/bootstrap-5.3.0-alpha1/scss/bootstrap.scss';

/* Custom Styles */
.cursor-pointer {
    cursor: pointer;
}
.custom-font {
    font-family: 'Kavoon';
}
.main-font {
    font-family: 'Merriweather', serif;
}
.bold {
    font-weight: 700;
}
.bold {
    font-weight: 700;
}
.inner {
    flex-basis: 50%;
}
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.grid::after {
    content: '';
    flex: auto;
}
.icon-w-32 {
    width: 32px;
}
.icon-w-16 {
    width: 16px;
}
.h-200 {
    height: 200px;
}
.h-300 {
    height: 300px;
}
.h-400 {
    height: 400px;
}
.rotate-5 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}
.rotate-50 {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
}
.tape-top-left {
    width: 32px;
    height: 16px;
    margin-left: -20px;
    margin-top: -15px;
}
.tape-bottom-right {
    width: 32px;
    height: 16px;
    margin-left: -20px;
    margin-top: 25px;
}
.title-top-left {
    margin-top: -20px;
    margin-left: -10px;
}
.grow {
    transition: all 0.2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}
.btn-outlined {
    cursor: pointer;
    outline: 4px solid #cfa96d;
    color: white;
    background-color: #5c4a3b;
}

.btn-outlined:hover {
    transition: background-color 0.2s ease;
    background: #cfa96d;
    color: #fff;
}

input[type='text'],
input[type='email'],
textarea {
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    outline: none !important;
    padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
    box-shadow: 0 0 5px #594433 !important;
    padding: 3px 0px 3px 3px !important;
    margin: 5px 1px 3px 0px !important;
}

.profile-pic-wrapper {
    height: 120px;
    width: 120px;
}

.thumbnail {
    max-height: 100%;
    max-width: 100%;
    background-color: #cfa96d;
}

.text-justify {
    text-align: justify;
}
