.close {
    margin: -20px;
    width: 32px;
    height: 32px;
    background: none;
    cursor: pointer;
    border: 4px solid #cfa96d;
    color: white;
    background-color: #5c4a3b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close:hover {
    transition: background-color 0.2s ease;
    background: #cfa96d;
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .modal-body {
        height: 150px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .modal-body {
        height: 300px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal-body {
        height: 300px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .modal-body {
        height: 500px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .modal-body {
        height: 700px;
    }
}
